.ds-node__extension-container
{
    background-color: #1d1d1e;
    padding: 8px;
}

.ds-node__main-container
{
    background-color: #1d1d1e;
}

.ds-node__custom-extension-container
{
    background-color: #212325;
    border-radius: 4px;
    padding: 8px;
}

.ds-node__textfield > .unity-text-field__input
{
    background-color: #1d1d1e;
    border-color: #27292c;
    border-radius: 4px;
    max-width: 240px;
    min-width: 160px;
    padding: 8px;

}

.ds-node__textfield_hidden > .unity-text-field__input
{
    background-color: transparent;
    border-color: transparent;
}


.ds-node__textfield_hidden > .unity-text-field__input:focus
{
    background-color: #1d1d1e;
    border-color: #27292c;

}

.ds-node__textname-textfield > .unity-text-field__input
{
    max-width: 1000px;
}

.ds-node__textname-textfield > .unity-text-field__input:focus
{
    margin: 4px;
    padding: 4px;
}

.ds-node__choice-textfield > .unity-text-field__input
{
    font-size: 11px;
    height: 35px;
    max-width: 1000px;
    min-width: 0px;
}

.ds-node__choice-textfield > .unity-text-field__input:focus
{
    height: 25px;
    margin: 4px;
    padding: 4px;
}

.ds-node__quote-textfield > .unity-text-field__input
{
    background-color: #232527;
    border-color: transparent;
    border-left-color: #27292c;
    border-left-width: 4px;
    padding: 16px;
    max-width: 600px;
}

.ds-node__quote-textfield > .unity-text-field__input:hover
{
    background-color: #252729;
}

.ds-node__quote-textfield > .unity-text-field__input:focus
{
    background-color: #1d1d1e;
    border-color: #27292c;
}

.ds-node__button
{
    background-color: #252729;
    border-color: #1d1d1e;
    max-height: 25px;
    margin: 4px;
}

.ds-node__button:hover
{
    background-color: #2b2d2f;
}

.ds-node__button:active
{
    background-color: #212325;
    color: #FDD057;

}

.ds-node__name-container
{
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 0px;
}

.ds-node__textname-textfield
{
    flex-grow: 1;
}

TextField
{
    margin-left: 0px;
}

.ds-node__custom-data-container > Foldout
{
    margin-left: -4px;
    margin-top: 4px;
}

.ds-node__custom-data-container > Foldout > TextField
{
    margin-left: -12px;
    margin-top: 8px;
}

.unity-toggle__text
{
    margin-left: 2px;
}